* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
  }
  
  ol,
  ul {
    list-style: none;
  }

  html{
      display: flex;
      align-items: center;
      justify-content: center;
  }


 body {

   background-image: linear-gradient(150deg, #0ddaa6 , #02214e);
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

  }

/*================================================

=================================================*/

@media (min-width: 750px) {
  .main-container {
      display: flex;
      width: 70vw;
      height: 90vh;
      backdrop-filter: blur(10px);
      border-radius: 25px;
      background: transparent;
  }
}

@media (min-width: 750px) {
  .col-l {
      background: linear-gradient(110deg, #600ee4a4, #600ee4 60%);
      border-radius: 25px 0px 0px 25px;
      backdrop-filter: blur(10px);
      flex: 1 1 25%;
  }
}


@media (min-width: 750px) {
  .col-r{
      background: rgba(245, 245, 245, 0.3);
      border-radius: 0px 25px 25px 0px;
      backdrop-filter: blur(10px);
      flex: 1 1 75%;

  }
}

/*================================================

=================================================*/

@media (max-width: 750px) {

    .main-container {
        display: flex;
        flex-direction: column;
        width: 110vw;
        height: 110vh;
        backdrop-filter: blur(10px);
        border-radius: 25px;
        background: transparent;
    }
}


@media (max-width: 750px) {
    .col-l {
        display: flex;
        flex: 1 1 25%;
        background: linear-gradient(110deg, #600ee4a4, #600ee4 60%);
        border-radius: 0px 0px 0px 0px;
        backdrop-filter: blur(10px);
        /* width: 100%; */
        
    }
}
  
  
  
  @media (max-width: 750px) {
    .col-r {
        display: flex;
        flex: 1 1 75%;
        background: rgba(10, 10, 10, 0.3);
        border-radius: 0px 0px 25px 25px;
        backdrop-filter: blur(10px);
        /* width: 100%; */
        
  
    }
  }