/* =====
weather right dashboard 
======*/

/*================================================
- header view / C/F and week/day
=================================================*/

/* laptop view */
@media (min-width: 950px) {
  .weather-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
  }
}

/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {
  .weather-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(128, 128, 128, 0.258); /* delete -  build visual only*/
    padding: 20px;
  }
}

/* mobile view */
@media (max-width: 479px) {
  .weather-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(128, 128, 128, 0.258); /* delete -  build visual only*/
    width: 100%;
    padding: 15px;
  }
}

/*================================================
- header view / contents
=================================================*/

.view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

h4 {
  margin: 10px;
  color: white;
}

.tempToggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.temp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  background: black;
  color: white;
}

/*================================================
- weekday temperature cards
=================================================*/
/* laptop view */
@media (min-width: 950px) {
  .weekdays {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
  }
}


/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {
  .weekdays {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
  }
}

/* mobile view */
@media (max-width: 479px) {
  .weekdays {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px;
    width: 100%;
  }
}



/*================================================
- weekday temperature cards - individual 
=================================================*/

/* laptop view */
@media (min-width: 950px) {
    
    .day {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 11rem;
        height: 13rem;
        background: rgba(255, 255, 255, 0.596);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        margin: 10px;
        padding: 5px;
      }

}


/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {

    .one, .two, .three, .four {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 9rem;
        height: 11rem;
        background: rgba(255, 255, 255, 0.596);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        margin: 10px;
        padding: 5px;
      }

}



/* mobile view */
@media (max-width: 479px) {
    .one, .two, .three, .four {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 9em;
        height: 10em;
        background: rgba(255, 255, 255, 0.596);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        margin: 25px;
        padding: 5px;
      }

}





/*================================================
- main card container space
=================================================*/
/* laptop view */
@media (min-width: 950px) {
.main-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  /* margin: 2rem; */
  /* padding: 1rem; */
}
}

/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {

}



/* mobile view */
@media (max-width: 479px) {

}


/*================================================
- main cards
=================================================*/

/* laptop view */
@media (min-width: 950px) {
.card {
  display: flex;
  align-items: center;
  width: 28rem;
  height: 15rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
    }
}



/* small-laptop / tablet view */
@media (max-width: 949px) and (min-width: 480px) {

    .card {
        display: flex;
        align-items: center;
        width: 25rem;
        height: 10rem;
        margin: 1rem;
        padding: 1rem;
        border-radius: 10px;
          }

}



/* mobile view */
@media (max-width: 479px) {

}
