@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

ol,
ul {
  list-style: none;
}




/* ============================================= */

.body{
    display: flex;
    flex-direction: column;

}



.flexbox, .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.imgs {
  width: 100px;
}